.modal__wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, .4);
    backdrop-filter: blur(10px);
}

.modal__wrapper.open {
    height: 100%;
    display: block;
}

.modal__wrapper.close {
    height: 0;
    display: none;
}

.modal__body {
    max-width: 200px;
    margin: auto;
    margin-top: 10%;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.modal__inputs {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
    margin-top: 7px;
}

.modal__btns {
    margin-top: 25px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.save,
.cancel {
    width: 60px;
    height: 25px;
    font-size: 13px;
    color: rgb(27, 27, 27);
    transition: 0.4s;
}

.save:hover,
.cancel:hover {
    font-weight: 500;
    font-size: 14px;
    transition: 0.4s;
}

.save:hover {
    background: rgba(18, 175, 44, 0.7);
}

.cancel:hover {
    background: rgba(255, 1, 1, 0.7);
}