.note-board-header {
    margin-top: 10px;
    text-align: center;
    button {
        width: 110px;
        height: 28px;
        background-color: rgb(39, 180, 39);
        border-radius: 10px;
        border: none;
        font-weight: bold;
        font-style: italic;
        color: whitesmoke;
        border: 1px solid green;
        cursor: pointer;
        transition: 0.5s;
    }
    button:hover {
        background-color: rgb(111, 207, 111);
        color: white;
        transition: 1s;
    }
}