.note-board-container {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    margin: 0 50px;
}

.sticker {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    padding: 10px;
    width: 120px;
    height: 100px;
    background-color: rgb(248, 239, 239);
    border-radius: 15px;
    textarea {
        width: 100px;
        height: 60px;
        border-radius: 10px;
        border: none;
        background-color: rgb(212, 209, 209);
        padding: 7px;
    }
    h3 {
        margin: 0;
        margin-bottom: 7px;
        font-size: 14px;
        cursor: pointer;
        transition: 0.5s;
    }
    h3:hover {
        color: red;
        transition: 1s;
    }
}