h2 {
    color: rgb(95, 15, 95);
    font-style: italic;
}

th {
    text-align: left;
    font-style: italic;
}

button {
    background: aqua;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid black;
}

.add-contact {
    margin-top: 20px;
    background-color: rgb(19, 226, 19);
    color: white
}