.App {
    text-align: center;
}

header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 10px;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: goldenrod;
}