main {
    height: 100%;
    min-height: 575px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.dark {
    background: rgb(22, 21, 24);
    color: grey;
    h2 {
        color: rgb(177, 20, 20);
    }
    p {
        color: green;
    }
    table {
        button {
            background-color: blue;
        }
    }
    button {
        color: rgb(19, 1, 1);
    }
}

.light {
    background: white;
    color: black;
}